@import "../../../scss/colors.scss";

.tatHomePage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.taHomePage__SessionInfo {
  color: $secondary;
  .title {
    font-weight: bold;
    font-size: 40px;
  }
  .desc {
    font-size: 20px;
  }
}

.queueMember {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;

  width: 80%;
}

.faCheckIcon {

}
.faCheckIcon:hover {
  color: green;
}

.taScrollView {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: 400px;
}
.queueMember__Name {
  margin-left: 10px;
}
.queueMember__Question {

}
h3 {
  color: $secondary;
}
