@import "../../../scss/colors.scss";

h1 {
  color: $secondary;
}

label {
  color: $secondary;
}

input {
  border-radius: 10px;
  width: 50%;
  height: 25px;
}

.topSVG {
  position: absolute;
  bottom: 70%;
  left: 0%;
  width: 100%;
}

.faIcon__studentLogin {
  font-size: 90px;
  color: $secondary;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  input {
    border: none;
    outline: none;
  }
}
